<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <title>Document</title>
</head>

<body class="h-screen">
  <div class="w-full h-14 flex justify-center items-center mt-5 pb-5 border-b-2 text-gray-500">
    <div class="w-10/12 flex justify-between items-center font-normal">
      <div class="w-3/4 flex justify-start items-center">
        <div class="text-4xl mr-20 font-extrabold text-green-600">Thrift Market</div>
        <div class="w-2/5 flex justify-between text-base">
          <div>Trang chủ</div>
          <div>Quản lý bài đăng</div>
          <div>Tin nhắn</div>
        </div>
      </div>
      <div class="w-1/5 flex justify-around items-center text-base">
        <div class="w-1/2">Đăng nhập</div>
        <div class="bg-green-600 p-2 text-white w-1/2 flex justify-center rounded-lg">
          <div>Đăng ký</div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-center items-center bg-gray-800">
    <div class="w-1/2 flex justify-start my-5">
      <div class="flex justify-center items-center bg-white rounded-l-lg pl-2 text-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--carbon" width="32" height="32"
          preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
          <path d="M29 27.586l-7.552-7.552a11.018 11.018 0 1 0-1.414 1.414L27.586 29zM4 13a9 9 0 1 1 9 9a9.01 9.01 0 0 1-9-9z" fill="currentColor"></path>
        </svg>
      </div>
      <div class="w-3/4">
        <input type="text" class="w-full h-10 rounded-r-lg p-2" placeholder="Tìm kiếm trên Thrift Market ...">
      </div>
    </div>
    <div class="flex justify-center items-center bg-white py-1 px-5 rounded-lg text-green-600">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="32" height="32"
          preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
          <path d="M17 19.22H5V7h7V5H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-7h-2v7.22z" fill="currentColor"></path>
          <path d="M19 2h-2v3h-3c.01.01 0 2 0 2h3v2.99c.01.01 2 0 2 0V7h3V5h-3V2zM7 9h8v2H7zm0 3v2h8v-2h-3zm0 3h8v2H7z" fill="currentColor"></path>
        </svg>
      </div>
      <div>Đăng bài</div>
    </div>
  </div>
  {{{body}}}
</body>

</html>