<div class="w-full">
    <div class="sliderAx w-11/12" style="margin-left: 4.1666665%;">
        <div id="slider-1" class="container mx-auto">
            <div class="bg-cover bg-center  h-auto text-white py-24 px-10 object-fill" 
            style="background-image: url(https://images.unsplash.com/photo-1472851294608-062f824d29cc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
        <div class="md:w-1/2">
            <p class="font-bold text-sm uppercase" style="text-shadow: rgb(0, 0, 0) 1px 0 10px;">thrift market</p>
            <p class="text-3xl font-bold" style="text-shadow: rgb(0, 0, 0) 1px 0 10px;">TÌM MUA</p>
            <p class="text-l mb-10 leading-none" style="text-shadow: rgb(0, 0, 0) 1px 0 10px;">Tìm kiếm sản phẩm đang được rao bán từ người dùng khác trên nền tảng Thrift Market</p>
            <a href="#" class="bg-transparent py-4 px-8 text-white font-bold uppercase text-xs 
            rounded-full hover:bg-gray-200 hover:text-gray-800 transition duration-500 ease-in-out"
            style="border: 1px solid;">Tìm kiếm</a>
            </div>  
        </div> <!-- container -->
        <br>
        </div>

        <div id="slider-2" class="container mx-auto">
            <div class="bg-cover bg-top  h-auto text-white py-24 px-10 object-fill"
            style="background-image: url(https://images.unsplash.com/photo-1520006403909-838d6b92c22e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)">
        
    <p class="font-bold text-sm uppercase" style="text-shadow: rgb(0, 0, 0) 10px 0 10px;">thrift market</p>
            <p class="text-3xl font-bold" style="text-shadow: rgb(0, 0, 0) 10px 0 10px;">RAO BÁN</p>
            <p class="text-l mb-10 leading-none" style="text-shadow: rgb(0, 0, 0) 10px 0 10px;">Đăng bài quảng bá sản phẩm đến với những người dùng khác qua nền tảng Thrift Market</p>
            <a href="#" class="bg-transparent py-4 px-8 text-white font-bold uppercase text-xs 
            rounded-full hover:bg-gray-200 hover:text-gray-800  transition duration-500 ease-in-out"
            style="border: 1px solid;">Đăng bài</a>
            
        </div> <!-- container -->
        <br>
        </div>
        </div>
    <div  class="flex justify-between w-12 mx-auto pb-2" style="position: relative; top: -60px;">
        <button id="sButton1" onclick="sliderButton1()" class="rounded-full w-4 pb-2 " style="background-color: rgba(255, 255, 255)"></button>
        <button id="sButton2" onclick="sliderButton2() " class="rounded-full w-4 p-2" style="background-color: rgba(255, 255, 255, 0.5)"></button>
    </div>

    <div class="w-11/12 flex" style="margin-left: 4.1666665%;">
        <div class="w-1/3 flex justify-center" style="border-right: 1px solid rgb(117, 204, 197)">
            <i class="fas fa-filter text-4xl mx-3" style="color: rgb(117, 204, 197)"></i>
            <div>
                <p class="font-sans font-medium text-sm"
                style="color: rgb(117, 204, 197)">BỘ LỌC</p>
                <p class="font-sans font-medium text-xs"
                style="color: rgb(117, 204, 197)">Hỗ trợ lọc kết quả tìm kiếm</p>
            </div>
        </div>
        <div class="w-1/3 flex justify-center" style="border-right: 1px solid rgb(117, 204, 197)">
            <i class="far fa-comment-dots text-4xl mx-3" style="color: rgb(117, 204, 197)"></i>
            <div>
                <p class="font-sans font-medium text-sm"
                style="color: rgb(117, 204, 197)">ONLINE CHAT</p>
                <p class="font-sans font-medium text-xs"
                style="color: rgb(117, 204, 197)">Tương tác trực tuyến với nhau</p>
            </div>
        </div>
        <div class="w-1/3 flex justify-center">
            <i class="fas fa-headset text-4xl mx-3" style="color: rgb(117, 204, 197)"></i>
            <div>
                <p class="font-sans font-medium text-sm"
                style="color: rgb(117, 204, 197)">HỖ TRỢ 24/7</p>
                <p class="font-sans font-medium text-xs"
                style="color: rgb(117, 204, 197)">Hỗ trợ duyệt bài 24 giờ trong ngày</p>
            </div>
        </div>
    </div>

    <div class="w-3/4 my-16" style="margin-left: 12.5%;">
        <p class="text-2xl font-bold my-4">BÀI ĐĂNG MỚI</p>
        <div class="grid grid-cols-3 gap-4">
            <div style="box-shadow: 0 10px 24px rgb(0, 0, 0, 0.15)">
                <img src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                <h5 class="mt-4 mx-4 font-bold text-xl">Máy ảnh Fujifilm XT-10</h5>
                <p class="font-bold mx-4 pb-4 text-base" style="color: rgb(253, 133, 44);">2,000,000 đ</p>
            </div>
            <div style="box-shadow: 0 10px 24px rgb(0, 0, 0, 0.15)">
                <img src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                <h5 class="mt-4 mx-4 font-bold text-xl">Máy ảnh Fujifilm XT-10</h5>
                <p class="font-bold mx-4 pb-4 text-base" style="color: rgb(253, 133, 44);">2,000,000 đ</p>
            </div>
            <div style="box-shadow: 0 10px 24px rgb(0, 0, 0, 0.15)">
                <img src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                <h5 class="mt-4 mx-4 font-bold text-xl">Máy ảnh Fujifilm XT-10</h5>
                <p class="font-bold mx-4 pb-2 text-base" style="color: rgb(253, 133, 44);">2,000,000 đ</p>
            </div>
        </div>
    </div>

{{#section "js"}}
  <script type="text/javascript" src="/js/index.js"></script>
{{/section}}