<div class="w-full h-3/4 flex justify-center">
  <div class="w-9/12 flex justify-center border-l-2 border-r-2">
    <div class="w-1/4 pt-10 border-r-2">
      <div class="w-full flex justify-center text-2xl font-semibold">
        <div>Tin nhắn</div>
      </div>
      <div>
        <div class="px-2">
          <div
            class="w-full flex justify-start items-center rounded-lg cursor-pointer hover:bg-gray-200 transition delay-150 duration-300 ease-in-out p-4"
          >
            <div class="w-1/6 mr-2"><img
                class="rounded-full"
                src="/images/avatars/male.jpg"
                alt=""
              /></div>
            <div>Lê Thành Việt</div>
          </div>
        </div>

        <div class="px-2">
          <div
            class="w-full flex justify-start items-center rounded-lg cursor-pointer hover:bg-gray-200 transition delay-150 duration-300 ease-in-out p-4"
          >
            <div class="w-1/6 mr-2"><img
                class="rounded-full"
                src="/images/avatars/male.jpg"
                alt=""
              /></div>
            <div>Lê Thành Việt</div>
          </div>
        </div>

        <div class="px-2">
          <div
            class="w-full flex justify-start items-center rounded-lg cursor-pointer hover:bg-gray-200 transition delay-150 duration-300 ease-in-out p-4"
          >
            <div class="w-1/6 mr-2"><img
                class="rounded-full"
                src="/images/avatars/male.jpg"
                alt=""
              /></div>
            <div>Lê Thành Việt</div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="w-3/4">

    </div>
  </div>
</div>

{{#section "js"}}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script type="text/javascript" src="/js/message.js"></script>
{{/section}}