<div class="w-3/4 grid grid-cols-3" style="margin-left: 12.5%; height: 700px;">
    <div class="h-full">
        <div class="flex p-3 items-center" style="border-bottom: 1px solid rgba(0,0,0,0.25)">
            <img src="/images/avatars/male.jpg" style="height: 60px; border-radius: 50%; border: 1px solid black;">
            <p class="font-bold text-l pl-3">Tên người dùng</p>
        </div>
        <p class="text-center uppercase font-bold text-sm py-3">Tin nhắn</p>
        <div class="flex flex-col">
            <div class="cursor-pointer flex items-center p-3 bg-gray-100 hover:bg-gray-100 transition duration-300 ease-in-out" style="height:80px; border-bottom: 1px solid rgb(233, 226, 226);">
                <img src="/images/avatars/male.jpg" style="height: 50px; border-radius: 50%; border: 1px solid black;">
                <p class="font-bold text-sm pl-3">Người dùng 1</p>
            </div>
            <div class="cursor-pointer flex items-center p-3 hover:bg-gray-100 transition duration-300 ease-in-out" style="height:80px; border-bottom: 1px solid rgb(233, 226, 226);">
                <img src="/images/avatars/male.jpg" style="height: 50px; border-radius: 50%; border: 1px solid black;">
                <p class="font-bold text-sm pl-3">Người dùng 2</p>
            </div>
            <div class="cursor-pointer flex items-center p-3 hover:bg-gray-100 transition duration-300 ease-in-out" style="height:80px; border-bottom: 1px solid rgb(233, 226, 226);">
                <img src="/images/avatars/male.jpg" style="height: 50px; border-radius: 50%; border: 1px solid black;">
                <p class="font-bold text-sm pl-3">Người dùng 5</p>
            </div>
            <div class="cursor-pointer flex items-center p-3 hover:bg-gray-100 transition duration-300 ease-in-out" style="height:80px; border-bottom: 1px solid rgb(233, 226, 226);">
                <img src="/images/avatars/male.jpg" style="height: 50px; border-radius: 50%; border: 1px solid black;">
                <p class="font-bold text-sm pl-3">Người dùng 5</p>
            </div>
            <div class="cursor-pointer flex items-center p-3 hover:bg-gray-100 transition duration-300 ease-in-out" style="height:80px; border-bottom: 1px solid rgb(233, 226, 226);">
                <img src="/images/avatars/male.jpg" style="height: 50px; border-radius: 50%; border: 1px solid black;">
                <p class="font-bold text-sm pl-3">Người dùng 5</p>
            </div>
        </div>
    </div>
    <div class="col-span-2 border relative flex flex-col">
        <div class="flex flex-col p-3 items-center">
            <img src="/images/avatars/male.jpg" style="height: 60px; border-radius: 50%; border: 1px solid black;">
            <p class="font-bold text-l mt-1">Tên người dùng</p>
        </div>
        <div class="w-full h-full shadow-inner border flex flex-col-reverse" style="margin-bottom: 50px;">
            <div class="rounded-full bg-red-300 text-white m-3 p-2" style="width: fit-content; max-width: 70%;">
                <div>Message</div>
            </div>
            
        </div>
        <div class="absolute -bottom-0 w-full">
            <textarea name="message" id="message" placeholder="Viết tin nhắn..."
            class="w-11/12 resize-none rounded-full border-2 px-3 outline-none" 
            style="margin-left: 4.1666665%; height:40px; line-height:35px;"></textarea>
        </div>
    </div>
</div>