body {
  font-family: "Inter";
}

@media (max-width: 574px) {
  .icon_profile {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

.slide1 {
  background-image: url(https://images.unsplash.com/photo-1472851294608-062f824d29cc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
}

.slide2 {
  background-image: url(https://images.unsplash.com/photo-1520006403909-838d6b92c22e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
}

.content-slide {
  display: flex !important;
}

.footer {
  clear: both;
  position: relative;
  height: 16rem;
}

.message_area,
.message {
  height: calc(100% - 5rem);
}

.input {
  width: calc(100% - 2.5rem);
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
